/* announcement bar */
#announcement-bar {
  background-color: #111827;
  color: #ffffff;
}

#announcement-bar .announcement-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	background-color: #f0f0f0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}